.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.cell{
    text-align: center;
    padding: 10px;
    border: solid 2px black;
}

.btn{
    margin: 10px;
}

#button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}