.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    text-align: center;
    margin: 10px;
    padding: 50px;
    border: solid 2px black;
}

.btn {
    margin: 10px;
}

#button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.noselect {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}