#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
button{
    padding:10px;
    margin: 30px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}